@charset "utf-8";
/*
반응형 css
Site : "Juyeon Kim's portfolio"
Author : "김주연"
Version : "2019.03"
*/
/* 노트북 1540px */

.visualWrap { height:762px; }
.visualWrap .tunnel { height:762px; }
.visualWrap .train { height:762px; }
.visualWrap .train > li { height:762px; }

.skillDT_list li .arrow { width:20px;  }

.sec03.boxList .liSmall { height:140px; }
.sec03.boxList .liSmall a { line-height:140px; }
.sec03.boxList .liBig { margin-bottom:50px; }

/* 태블릿 */
@media ( max-width:1024px ){
  /* 공통 */
  .container { width:95%; }
  .section01 { width:100%; }
  .btn01 { font-size:12px; }
  .nav { display:none; }
  .mb_naviBar { display:block; }
  .tbNo { display:none; }

  /* 헤더 */
  .header01 { height:80px; }
  .logo{ width:117px; }
  .mb_naviBar { margin-top: 20px; }
  .contentWrap { margin-top:80px;  }
  .mb_nav { top: 80px; }

  /* 비주얼배너 */
  .visualWrap { height:935px; }
  .visualWrap .tunnel { height:935px; }
  .visualWrap .train { height:935px; }
  .visualWrap .train > li { height:935px; }
  .visualWrap .tit { left: 4%; font-size: 3.2vw; }
  .visualWrap .tit .br { font-size: 3.2vw; }
  /* 섹션1 */
  .section01 { height:1024px; }
  .section01 .tit { width:961px; height:80px;  background: url("../images/content/sec01Tit.png") 0 0 no-repeat; background-size:cover; }
  .sec01.box01 { width: 87%; height:1024px;  }
  .sec01.box02 { width:50%; }
  .sec01.box03 { left: 0; right: 0; width: 75%; }

  .skillDT_list { float: none; width: calc(100% - 50px); height: 125px; padding:8px 0; margin: 25px 4.8%; }
  .skillDT_list li:first-child { margin-top:0; }
  .skillDT_list li { float:left; padding-right:0; }
  .skillDT_list li a { display:block; width:100%; height:100%; text-align:center;}
  .skillDT_list .dt01 { width:17%;}
  .skillDT_list .dt02 { width:15%;}
  .skillDT_list .dt03 { width:21%;}
  .skillDT_list .dt04 { width:47%;}
  .skillDT_list .dt05 { width:36%;}
  .skillDT_list .dt06 { width:32%;}
  .skillDT_list .dt07 { width:32%;}
  .skillDT_list .dt08 { width:32%;}
  .skillDT_list .dt09 { width:34%;}
  .skillDT_list .dt10 { width:33%;}

  .skillDD_list { float: none; /*display: table;*/ width: calc(100% - 50px); height: 334px; margin: 0 4.8%; }
  .skillDD_list li.active {  display: table; vertical-align: middle; }
  .skillDD_list li .img { display:table-cell;  vertical-align: middle; padding-left: 10px;}
  .skillDD_list li .img img { width:80%; margin: 0 auto; }
  .skillDD_list .dd01 .img img , .skillDD_list .dd02 .img img { width:70%;  }
  .skillDD_list li .txt { display:table-cell; width: 60%; vertical-align: middle; font-size: 16px; padding-right: 15px;}
  .skillDD_list .pcNo { display:block; }

  /* 섹션2 */
  .section02 { height:530px; background-size: cover; background-size: cover; background-position: 29%;}
  .sec02.box01 {  margin-top: 95px; }
  .section02 .sec02 > .tit { padding: 28px 0; font-size:20px; }
  .sec02 .boxList .tit { margin-bottom: 5px; font-size:16px; }
  .sec02.box01 { height: 340px; }

  /* 섹션3 */
  .section03 { padding-bottom:50px;  }
  .section03 .tit { margin-top: 50px; margin-bottom: 35px; font-size:22px; }
  .sec03.boxList .liBig { margin-bottom: 35px;}
  .sec03.boxList .liBig .subTit { font-size:14px; }
  .sec03.boxList .liSmall { height: 127px; }
  .sec03.boxList .liSmall a { font-size:16px; line-height: 127px; }

  /* sub01 프로필 */
  .mainTit { margin-top:40px; font-size: 40px; }
  .content01 { padding-top:50px; }
  .contentArea .tit {margin-top:15px; font-size:20px; }
  .contentArea .tit .mb_br { font-size:20px;  }
  .txtlist > li { margin-bottom: 0; font-size: 17px; background-size: 5px 5px; }
  .txtlist .listTxt span{ background-size: 5px 5px; }
  .txtlist .subTxt { padding-left:6px;  font-size:15px;  }
  .txtlist .listTxt span {  font-size:15px;  }

  /* sub0301 프로젝트 */
  .projectImg { width:70%; }
  .projectList { width:30%; }
  .projectList .tit { font-size:18px; }
  .projectList .txt { font-size:16px; }
  .projectList .subTxt { font-size:16px; }
  .sub03 .content.con07 .tit { font-size:18px;  }
  .projectLink a { font-size:16px;  }

  /* sub0302 웹디자인 */
  .gallerySmall ul li { width: 10%; margin-right: 1%; }
  .content.con03 .gallerySmall ul li { margin-right: 0; }
  .galleryBig { width: 76%; }
  .galleryPaging { width: 100%; }
  .gallerySmall ul li a img { max-width: 100%; max-height: 100%; }

  /* sub0303 편집디자인 */
  .sub0303 .con05 { float:left; width:32%; height:600px; margin-right:2%; }
  .sub0303 .con06 { float:left; width:32%; height:600px; margin-right:2%; }
  .sub0303 .con07 { float:left; width:32%; height:600px; }
  .con06 .designImg.img01 { margin-bottom:24px; }

  /* sub0402 과거포트폴리오 */
  .sub0402 .mainTit { font-size: 34px; }
  .sub0402 .box01 { display:block ; }
  .portfolioImg { display:block ; width:100%; margin-bottom:10px; }
  .sub0402 .projectList { width:100%; padding-left: 0; }
  .sub0402 .projectList li { float:left;  line-height: 28px;}
  .sub0402 .projectList li:nth-child(1) { width:20%;  }
  .sub0402 .projectList li:nth-child(2) { width:30%; }
  .sub0402 .projectList li:nth-child(3) { width:20%; margin-top:0; }
  .sub0402 .projectList li:nth-child(4) {  width:30%; }
  .sub0402 .projectList li:nth-child(5) {  width:100%; margin-top:0; }
  .sub0402 .projectList li:nth-child(6) {  width:calc(100% - 10px ); }
  .sub0402 .projectList li:nth-child(7) { width:20%; margin-top:0; }
  .projectList .txt.img { background:none; }
  .projectList .txt img  { width:48%; }
  .table01 tbody tr th { font-size:16px; padding: 8px 8px; }
  .table01 tbody tr td { font-size:14px; padding:8px 8px ; }

  /* sub0401 제작과정 */
  .sub0401 .mainTit { font-size: 34px; }
  .sub0401 .box01 { display:block ; }

}
/* 모바일 */
@media ( max-width:767px ){
  /* 공통 */
  .mb_No { display:none; }
  .mb_br { display:block;  }

  /* 헤더 */
  .header01 { height:70px; }
  .logo{ width:99px; }
  .mb_naviBar { margin-top: 15px; }
  .contentWrap { margin-top:70px;  }
  .mb_nav { top: 70px; }

  /* 비주얼배너 */
  .visualWrap { height:568px; }
  .visualWrap .tunnel { height:568px; }
  .visualWrap .train { height:568px; }
  .visualWrap .train > li { height:568px; }
  .visualWrap .container { width:100%; }
  .visualWrap .tit { left:0; display:block; width:100%; padding-top: 45px; padding-bottom: 45px; font-size:20px; text-align:center; color:#fff;  background:url("../images/btn/bg_visualTit.png") 0 0 repeat; }
  .visualWrap .tit .br { font-size:20px; text-align:center; color:#fff; text-indent:0; }
  .controller { right: calc(50% - 90px);  width: 180px; height: 80px; }
  .controller .vs_num { font-size:18px; }
  .controller .vs_num .num { font-size:18px; }

  /* 섹션1 */
  .section01 { height: 580px; }
  .section01 .tit { display:none; }
  .section01 .tit_mb { display:block;  }
  .sec01.box01 { height: 580px; width: 100%; }
  .sec01.box02 { display: none; }
  .sec01.box03 { top:0; width:100%; height: 470px; padding-top:110px; background-size:100% 100%;  }
  .skillDT_list {  width: 95%; margin: 25px auto; margin-top: 0; padding: 5px 0 7px; }
  .skillDT_list li a { font-size:16px; line-height: 32px; }
  .skillDT_list .dt01 { width:23%;}
  .skillDT_list .dt02 { width:20%;}
  .skillDT_list .dt03 { width:29%;}
  .skillDT_list .dt04 { width:28%;}
  .skillDT_list .dt05 { width:53%;}
  .skillDT_list .dt06 { width:47%;}
  .skillDT_list .dt07 { width:50%;}
  .skillDT_list .dt08 { width:50%;}
  .skillDT_list .dt09 { width:52%;}
  .skillDT_list .dt10 { width:48%;}

  .skillDD_list { width: 95%; height:250px; margin:0 auto; }
  .skillDD_list li .txt { font-size:14px;  }

  /* 섹션2 */
  .section02 { height: auto; }
  .sec02.box01 { height: auto; margin-top:20px; margin-bottom: 20px;}
  .section02 .sec02 > .tit { padding: 25px 0 15px; font-size: 18px; }
  .sec02 .boxList li { float: none; position: relative; width: 95%; margin:0 auto; text-align: left; }
  .sec02 .boxList .tit { font-size:14px; text-align: left; }
  .sec02Img { display:inline-block; width:60%; }
  .sec02 .boxList .txt { width:60%; font-size:12px; text-align: center; }
  .sec02 .boxList .btn01 { position: absolute; top:43% ; right:calc(20% - 40px); }

  /* 섹션3 */
  .sec03.boxList > li { width:100%; }
  .sec03.boxList .liBig { margin-bottom: 15px; }
  .sec03.boxList .liSmall { height: 110px; }
  .sec03.boxList .liSmall a {  line-height: 110px; }
  .section03 .tit { font-size:20px; }

  /* sub01 프로필 */
  .mainTit { margin-top: 25px; font-size: 30px;margin-bottom:20px; }
  .content01 { padding-top: 30px; }
  .contentArea .tit { font-size: 18px; }
  .contentArea .tit .mb_br { font-size:18px;  }
  .txtlist > li { font-size: 15px; }
  .txtlist .subTxt { display: block; padding-left: 0; font-size: 14px; line-height: 18px; margin-bottom: 5px; }
  .txtlist .listTxt span { font-size: 14px; margin-left: 0;  line-height: 22px;}
  .btn02 {width:170px;  display:block; margin-bottom:10px;  }
  .btn02 a { font-size: 14px; }

  /* sub0301 프로젝트 */
  .mainTit { font-size:26px; }
  .sub03 .box01 { display: block; }
  .projectImg { display: block; width:100%; }
  .projectList { display: block; width:100%; }
  .projectList .txt:last-child { margin-bottom:15px; }
  .projectList .tit { font-size:16px; }
  .projectList .txt { font-size:16px; }
  .projectList.row1 { text-align: left; }
  .projectList.row1 li { display: block; }
  .projectLink a { display: block; width:calc(100% - 20px); height: 25px; margin-bottom: 10px; line-height: 25px; font-size:14px; }

  /* sub0302 웹디자인 */
  .galleryPaging li { width: 30px; height: 30px; }
  .galleryPaging .prev { background-position:50% -45px; background-size: 30px; }
  .galleryPaging .next { background-position:50% -45px; background-size: 30px; }
  .galleryPaging .prev:hover, .galleryPaging .prev:focus, .galleryPaging .prev:active {background-size: 30px; }
  .galleryPaging .next:hover, .galleryPaging .next:focus, .galleryPaging .next:active { background-size: 30px; }
  .galleryBig { width: 70%; overflow: auto; height: 300px; line-height: 300px; }
  .galleryPaging .prev { top: 135px; }
  .galleryPaging .next { top: 135px; }
  .gallerySmall ul li {  width: 13%; margin-right: 1%; height:45px; }
  .gallerySmall ul li a { line-height: 45px; }

  /* sub0303 편집디자인 */
    /* 각 파트별 이미지 사이즈  */
  .con01 .designImg.img01 { width:60%;}
  .con01 .designImg.img02 { width:100%;}
  .con02 .designImg.img01 { width:100%;}
  .con02 .designImg.img02 { width:100%;}
  .con03 .designImg.img01 { width:100%; margin-bottom:10px; }
  .con03 .designImg.img02 { width:100%;}
  .con03 .designImg.img02 img { width: 120%; margin-left: -10%; }
  .con04 .designImg.img01 { width:100%; margin-bottom:10px; }
  .con04 .designImg.img01 img { width: 108%; margin-left: -4%; }
  .con04 .designImg.img02 { width:100%;}
  .con04 .designImg.img02 img { width: 124%; margin-left: -12%; }

  .sub0303 .con05 { float:left; width:100%; height:auto; margin-right:0%; }
  .sub0303 .con06 { float:left; width:100%; height:auto; margin-right:0%; }
  .sub0303 .con07 { float:left; width:100%; height:auto;  }
  .con05 .designImg.img01 { margin-bottom:0; }
  .con06 .designImg.img01 { margin-bottom:0; }

  /* sub0402 과거포트폴리오 */
  .sub0402 .mainTit { font-size: 22px; }
  .sub0402 .projectList li:nth-child(1) { width:40%; }
  .sub0402 .projectList li:nth-child(2) { width:60%; }
  .sub0402 .projectList li:nth-child(3) { width:40%; }
  .sub0402 .projectList li:nth-child(4) { width:60%; }
  .sub0402 .projectList li:nth-child(7) { width:20%; margin-top:0; }
  .projectList .txt.img { background:none; }
  .projectList .txt img  { width:48%; }

  /* sub0401 제작과정 */
  .sub0401 .mainTit { font-size: 22px; }

  /* 푸터 */
  address { font-size:12px; }
  .address { padding-top: 60px; }
  .copyright { font-size:12px; }

}
