	#main {height:800px; }

	.container.cform  { width:980px; background-color:white; 	 color:#333; }
	input { border:1px solid #8f8f8f; }
	.container.cform h3 { color:#333; font-size:220%; letter-spacing:0.2em; padding:50px 0 25px; text-align:center; text-shadow: 1px 1px 2px rgba(255,255,255,0.9);  }
	.container.cform .h3-sub { border-bottom:1px solid #dcdcdc;  letter-spacing:7px; padding-bottom:30px;  }
	.container.cform p {text-align:center; margin:0 auto; padding:10px; font-size:13px; line-height:22px;  }
	.container.cform span { display:inline; }
	.container.cform form { width:100%;   margin:50px auto 0;  }
	.container.cform fieldset { border:1px solid #333; position:relative; }
	.container.cform input { width:25%; padding:3px 8px; background-color:#fff; border:1px solid #a19197*; line-height:20px;  }
	.container.cform fieldset .loginbutton { position:absolute; top:89px; right:264px; padding: 0 ; border: 0;}
	.container.cform legend { position:absolute; left:-9999px; width:1px; height:10px; overflow:hidden; font-size:0; line-height:0;  }
	.container.cform label { display:inline-block; width:20%; text-transform:uppercase; }
	.container.cform input[type="submit"] {background-color:#df2121;width: 95px; height: 56px; border: 0; color: #fff; font-weight: bold;}
	.login label { width:1px; height:1px; position:absolute; font-size:0; overflow:hidden; left:-999999px; }
	.login.p1 input ,.login.p2 input {  width: 37%;}
	.container.cform .login  { margin-right:  11%; }
	.container.cform .login.p1 { padding-top:80px;  padding-bottom:0; }
	.container.cform .login.p2 {  padding-top:20px; padding-bottom:50px;  }
	.container.cform .subdesc { width: 45%; font-size: 65%; text-align:left; letter-spacing: -1px;}
	.container.cform .subdesc span  {padding-right: 30px;}
	.container.cform .subdesc.p2 {    padding-top: 0;}
	.container.cform input[type="button"] { background-color:white;  color: #333;}
	.container.cform .subdesc input[type="button"] {  margin-left: 11px; }
	.container.cform .join { background-color:#d1d1d1; color:#eee;  }
	.logindesc {text-align:left; font-size:64%;  border-top:1px solid #eee;   margin: 50px 70px 0;
    padding: 25px; }
	.required { color:crimson; }
	.container.cform .call { height:100px;  line-height:50px; }
	/*�̵������*/
		/* pc2 [1600~]*/
	@media all and (min-width:1600px) { 
		.container.cform {     width: 1280px;}
	}
	/* pc1 [1024~1599] 980, 960, 940*/
	@media all and (min-width:1024px) and (max-width:1599px) {
		.container.cform {     width: 980px;}
		#visual  .control {  margin-left: -490px;    top: 492px;   left: 50%; }
		#visual, .visualimg, .sliding .train { height:632px; }
		.container.cform { width:980px;  }
		.container {     width: 980px;}
		.sns {  margin-left: 10px; padding-top: 15px;}
		.top-utill {  width: 46%;}
		.top-utill li    {width: 19.5%;}
		.top-utill li a { font-size:70%; }
		.logo { width: 30%; }
		.gnb li { width: 130px; }
		.footer-navi {   width: 72%; }
		.footer-navi li a {     font-size: 80%; }
		.footerlink  { display:none;   }
		.qna { top:27px;  }
		#footer { height:261px; }
		.footerbottom { height:200px;  }
		.familysite select {   font-size: 65%;   height: 23px; width: 132px;}
		.intro.c1 img {    width: 100%; }
		.intro.c1 ul { width:980px;  }
		.intro.c1{ width:980px; }
	}
	/* tablet2 [768~1023]*/
	@media all and (min-width:768px) and (max-width:1023px) {
		#header {     height: 123px; }
		.container.cform { width: 740px; }
		.container.cform .subdesc {  width: 70%; }
		.container.cform fieldset .loginbutton { right:23%; }
	}
	/* tablet1 [481~767]*/
	@media all and (min-width:481px) and (max-width:767px) {
		.container.cform { width: 460px; }
		.container.cform .subdesc {  width: 85%; }
		.container.cform fieldset .loginbutton { right: 16%;  }
	}
	/* mobile [~480]*/
	@media all and (max-width:480px) {
		.container.cform {    width: 280px; }
		#main { height: 800px;  }
		.container.cform .login.p1 {  padding-top: 30px; }
		.container.cform fieldset .loginbutton {   position: static; }
		.container.cform .login { margin-right: 0; }
		.container.cform .login.p2 {  padding-bottom: 25px; }
		.login.p1 input, .login.p2 input {  width: 75%;} 
		.container.cform input[type="submit"] {   width: 75%;  height: 30px;     color: white; }
		.container.cform .subdesc { width: 90%; }
		.container.cform input { width: 46%; }
		.logindesc { margin: 1px;  }
		.container.cform .subdesc.p2 .join { margin-left: 80px; }
	}
